<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <Title> Template is working</Title>
</head>
<body>

<h1>Welcome to the text analyzer. Enter your text below</h1>
<form action ="/analyze" method="get">
    <textarea name="text" style="width: 1835px; height: 203px;"></textarea><br>
    <input type="checkbox" name="removepun"> Remove Punctuations <br>
    <input type="checkbox" name="UPPERCASE"> UPPER CASE <br>
    <input type="checkbox" name="Newlineremover"> New Line Remover<br>
    <button type="submit"> Analyze Text</button>
</form>


</body>
</html>